@font-face {
  font-family: 'SatoshiVariable';
  src: url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


@font-face {
  font-family: 'MontserratVariable';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}



@import "tailwindcss";


@theme {
  --font-Satoshi: SatoshiVariable, "sans-serif";
  --font-Montserrat: MontserratVariable, "sans-serif";
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --color-bgc: #120018;
  --color-btn: #2DBA4E;
  --color-wt: #FEFEFE;
  --breakpoint-mx: 1058px;
  --breakpoint-mcx: 1024px;
  --breakpoint-xs: 440px;
  --breakpoint-xsx: 442px;
}

body {
  background: #120018;
}
/* @config {
  --breakpoint-max-md: 768px;
} */
